:host ::ng-deep .p-terminal {
  font-family: monospace;
  height: 22rem;
}

:host ::ng-deep .p-terminal-content  {
  font-family: monospace;
  font-size: 100%;
  padding: 10px 0px 0px 0px;
}

:host ::ng-deep .p-terminal-prompt  {
  font-family: monospace;
  font-size: 100%;
  padding: 10px 10px 10px 0px;
}

:host ::ng-deep .p-terminal-response {
  font-family: monospace;
  font-size: 100%;
  padding: 10px 10px;
}

:host ::ng-deep .p-terminal-input {
  font-family: monospace;
  font-size: 100%;
  padding: 0px 10px;
}