<p-menubar [model]="menuItems"> Matlab Online Workspace </p-menubar>
<p-messages [(value)]="msgs"></p-messages>
<div class="grid">
  <div class="col-6">
    <p-terminal
      *ngIf="this.displayTerminal"
      welcomeMessage="Matlab Online Workspace #{{ this.session.sid }}"
      prompt="{{ this.prompt }}"
      autofocus
    >
    </p-terminal>
  </div>
  <div class="col-6">
    <p-carousel
      *ngIf="this.displayFigures"
      [value]="matlabResponse.figures"
      [numVisible]="1"
      [numScroll]="1"
    >
      <ng-template let-figure pTemplate="item">
        <div class="grid">
          <div class="col-1">
            <button pButton class='p-button-text' (click)="closeFigure(figure.id)">X</button>
          </div>
          <div class="col-10">
            <img src="data:image/png;base64,{{ figure.base64 }}" />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
